.ioiosArrowBack {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.835);
    border-radius: 20px;
}


.spinner{
    display: flex;
    position: absolute;
    top: 25%;
    left: 25%;
}


.buttons-container{
    display:flex;
    justify-content:center;
    align-items:center;

    div{
        font-size:50px;
        color:#ffffff;
        margin:10px;

    }
}
.buttons-container:hover{
    cursor: pointer;
}

.upload-button-container{
    display:flex;
    align-items:center;
    div{
        font-size:50px;
        color:#ffffff;
        margin:10px;
    }
}

.upload-button-container:hover{
    cursor: pointer;
}


.preview-image {
    position:relative;
    text-align:center;
    
    img {
        width:768px;
    }
}

.message{
    display: flex;
    position: absolute;
    justify-content:flex-start;
    align-items: center;
    top: 30%;
    right: 0;
    margin: 10px;
    font-size: 20px;
    color:#ffffff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: rgba(128, 128, 128, 0.835);
    z-index: 10;
}

.frame-overlay{
    position: absolute;
    top:0%;
    left:0px;
    box-sizing: border-box;
    border: 50px solid rgba(0,0,0,0.3);
    border-bottom: 100px solid rgba(0,0,0,0.3);
    box-shadow:rgb(255, 0, 0 / 50%) 0px 0px 0px 5px inset;
    width:100%;
    height:100%
}

@media(max-width:768px){
    .preview-image img {
        width:100%
    }
}