body {
    background-color: rgba(39, 39, 39, 0.945);
}

.qrContainer{
    border-radius: 50px;
    align-items: flex-start;

}

.camera{
    margin-top:20% ;
    width: 100%;
    border:none
    
}
.ioiosArrowBack {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    margin: 10px;
}