@import '../Variables.module.scss'; 

.page-header {
    height: 8vh;
    border: 1px dashed #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .placeholder {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:transparent
    } 
}
.card-main-container {
    min-height: 54vh;
    border: 1px dashed #ffffff;
    display: flex;
    justify-content: center;
}
.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}
.form-group {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none; 
    font-size: 16px;
    color: $textColor;
    margin: 12px 0;
    flex: 1; 
}

::placeholder {
    color: $secondaryColor;
}
.name-container {
    display: flex;
}
.form-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #f8f8ff50;
    border-bottom: 1px solid #f8f8ff50;
}
.form-icon {
    font-size: 18px;
    color: $primaryColor;
    flex: 0.18; 
}
.submit-btn {
    margin: 24px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
    background-color: $primaryColor;
}
.submit-btn:hover {
    cursor: pointer;
    color: $hoverText;
}

.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 336px;
    height: 204px;
    border-radius: 12px;
    margin: 0 0.8rem 1.2rem 0.8rem;
    border: 1px dashed #ffffff;
    box-shadow: 4px 4px 8px #000000;
    margin: 15px 0;
    
    img {
        height:100%;
        object-fit: cover;
    }
}

.selector-bar{
    font-size: 16px;
    color: #000000;
    margin: 12px 0;
    flex: 1; 
    margin-right:15px
}