.qrContainer{
   display: none;
}
.upload-container{
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.upload-container:hover{
    cursor: pointer;
}

.plusBtn{
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 40px;
}
.hello{
    width: 100%;
}