@import '../Variables.module.scss'; 

.container{
    display: flex;
    align-items: center;
}

.cardBgImg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
    .btn-group {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0; 
        .createBtn {
            width: 48px;
            height: 48px;
            border-radius: 99px;
            font-size: 28px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 4px #353535;
            .createIcon {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .btn-text {
            font-size: 10px;
            margin: 0.2rem 0;
        }
    }
    
}

@media only screen and (max-width: 415px){
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .btn-container{
        margin: 30px 0;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        .btn-group {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .createBtn {
                width: 48px;
                height: 48px;
                font-size: 28px;
                border-radius: 99px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 1px 4px #353535;
                .createIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }   
            }
            .btn-text {
                font-size: 10px;
                margin: 0.4rem 0;
            }
        }
    }
}