.bkgd-container {
    background-image: url('assets/abs_bkgd_2a.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
    position: relative;
    a {
        color: inherit;
    }
}
.bkgd-homepage {
    background-color: #282c34;
    height: auto;
    min-height: 100vh;
    position: relative;
    a {
        color: inherit;
    }
}
.bkgd-profile {
    background-image: url('assets/abs_bkgd_4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
    position: relative;
    a {
        color: inherit;
    }
}
.bkgd-namecard {
    background-image: url('assets/abs_bkgd_3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
    position: relative;
    a {
        color: inherit;
    }
}