@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .vscGear {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vscGear-alt {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    .vscGear:hover {
        cursor: pointer;
    }
}
.profile-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .profile-img-container {
        position: relative;
        width: 36vw;
        height: 36vw;
        max-width: 320px;
        max-height: 320px;
        border: 4px solid #e1e1e150;
        border-radius: 999px;
        margin-bottom: 0.8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 999px;
        }
        .fav-btn-container {
            width: 8vw;
            height: 8vw;
            max-width: 60px;
            max-height: 60px;
            border-radius: 99px;
            background-color: $primaryColor;
            box-shadow: 2px 2px 4px #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 4%;
            right: 4%;
            .fav-btn {
                color: inherit;
            }
            .fav-btn-clicked {
                color: #de1738;
            }
        }
        .fav-btn-container:hover {
            cursor: pointer;
        }
    }
    .profile-name {
        font-size: 18px;
        font-weight: bolder;
        color: $primaryColor;
    }
    .email {
        font-size: 12px;
        color: $secondaryColor;
    }
}
.info-container {
    min-height: 62vh;
    text-align: center;
    background-color: #00000090;
}
.form-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f8f8ff50;
}
.form-group {
    text-align: start;
    width: 100%;
    height: auto;
    min-height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: $textColor;
    margin: 12px 0;
    flex: 1; 
}
.selector-bar{
    font-size: 16px;
    color: #000000;
    margin: 12px 0;
    flex: 1; 
    margin-right:15px; 
    text-align: start;
}
.form-icon {
    font-size: 18px;
    color: $primaryColor;
    flex: 0.18; 
}
.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    position:relative;
    width: 336px;
    height: 204px;
    border-radius: 12px;
    margin: 0 0.8rem 1.2rem 0.8rem;
    border: 1px dashed #ffffff;
    box-shadow: 4px 4px 8px #000000;
    margin: 15px 0;
    justify-content: center;

    img {
        height:100%;
        object-fit: cover;
    }
}


@media only screen and (min-width: 569px){
    .profile-container {
        height: 100%;
        .profile-img-container {

            width:20vw;
            height: 20vw;
            .fav-btn-container {
                width: 4vw;
                height: 4vw;
            }
        }
    
    }

    
}