@import './Variables.module.scss'; 

.main-item {
    width: 100%;
    max-width: 420px;
    height: 120px;
    border-bottom: 1px solid #e0e0e0; 
    background: #f8f8f8; 
    color: #353535;
    display: flex;
    align-items: center;
}
.profile-img-container {
    flex: 0.24;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .profile-img-body {
        width: 60px;
        height: 60px;
        border-radius: 99px;
        .profile-img {
            width: 60px;
            height: 60px;
            border-radius: 99px;
            object-fit: cover;
        }
    }
}
.card-body {
    display: flex;
    flex: 1;
    .card-info {
        height: 100%;
        text-align: start;
        padding: 1.2rem 0 1.2rem 0.8rem;
        flex: 1;
        .display-name {
            font-size: 18px;
            font-weight: bolder;
        }
        .company-name {
            color: #919191; 
            font-size: 14px;
            font-weight: bolder;
        }
        .job-position {
            color: #585858;
            font-size: 12px;
            margin-bottom: 0.6rem;
        }   
    }
    .fav-container {
        flex: 0.2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1.2rem 0;
        .faHeart {
            color: $primaryColor;
            display: block;
        }
        .faHeart-hidden {
            display: none;
        }
    }
}
.main-item:hover {
    background: #f0f0f0;
}

