@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    box-sizing: border-box;
    .placeholder {
        flex: 0.16;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .ioClose {
        flex: 0.16; 
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ioClose:hover {
        cursor: pointer;
    }
    a {
        text-decoration: none;
    }
}

.menu-icon {
    width: 10vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .faBars {
        font-size: 21px; 
    }
}
.menu-icon:hover{
    cursor: pointer;
}
.menuOpen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 500ms;
    z-index: 2;
}
.menuClose {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 500ms;
    z-index: 2;
}
.catList {
    position: relative;
    text-align: start;
    margin-top: 30px;
    background-color: #282e34;
}
.catButton {
    padding: 18px 9px; 
    font-size: 16px;
    color: #f8f8ff;
    display: flex;
    align-items: center;
    transition: 300ms;
    text-decoration: none;
    border-top: 1px solid #35353599;
    border-bottom: 1px solid #35353599;
    .catButton-icon {
        flex: 0.12; 
    }
}
