@import './Variables.module.scss';

.contact-bar-container {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .contact-group:nth-child(3n) {
        width: 48px; 
        height: 48px;
        border-radius: 999px;
        background-color: $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 4px #353535;
        .contact-icon {
            font-size: 24px;
        }
    }
    .contact-group:nth-child(3n+1) {
        width: 48px; 
        height: 48px;
        border-radius: 999px;
        background-color: #0096ff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 4px #353535;
        .contact-icon {
            font-size: 24px;
        }
    }
    .contact-group:nth-child(3n+2) {
        width: 48px; 
        height: 48px;
        border-radius: 999px;
        background-color: #1da237;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 4px #353535;
        .contact-icon {
            font-size: 24px;
        }
    }
}