@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .vscGear {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
}
.form-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}