
.barSpace{
    height: 60px;
    position: relative;

}
.barContainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 50px;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    width: 80vw;
    position: fixed;
    bottom: 2%;
    left: 10%;
    box-shadow: 5px 10px 15px rgba(70, 70, 70, 0.842);
    .icon-circle{
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        align-items: center;
        justify-content:center ;
        font-size: 26px;
    }
    .icon-circle:hover{
          -webkit-animation: none;
          -webkit-transform: scale(1.4);
          animation: none;
          transform: scale(1.4);
        
      }

    .color1{
        background-color: #0090e2  ;
    }
    .color2{
        
        background-color: #72934f;
    }
    .color3{
        
        background-color:  #e26f00 ;
    }
    .color4{
        background-color:  #a73b55;
    }
}