@import './Variables.module.scss'; 

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
}
.form-title {
    width: 100%;
    text-align: start;
    font-size: 12px;
    color: #e1e1e1;
}
.form-group {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    font-size: 18px;
    color: $textColor;
    margin-bottom: 12px;
}
::placeholder {
    color: $secondaryColor;
}
.submit-btn {
    margin: 24px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
    background-color: $primaryColor;
}
.submit-btn:hover {
    cursor: pointer;
    color: $hoverText;
}