@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .ioClose {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
}
.profile-container {
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}
.profile-img-container {
    width: 36vw;
    height: 36vw;
    max-width: 320px;
    max-height: 320px;
    border: 4px solid #e1e1e150;
    border-radius: 999px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 999px;
    }
}
.camera-icon {
    width: 8vw;
    height: 8vw;
    max-width: 60px;
    max-height: 60px;
    border-radius: 99px;
    background-color: $primaryColor;
    box-shadow: 2px 2px 4px #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4%;
    right: 4%;
}
.camera-icon:hover {
    cursor: pointer;
}

.edit-profile-body {
    display: flex;
    justify-content: center;
    min-height: 64vh;
}