@import './Variables.module.scss'; 

.sort-container {
    width: 100%;
    height: 7vh;
    background: #282c34;
    display: flex;
    align-items: center;
    position: fixed;
    top: 8vh; 
    left: 0;
    .sort-group {
        flex: 1; 
    }
    .sort-group-clicked {
        flex: 1; 
        .sort-icon {
            color: #0096ff;
            font-size: 28px;
        }
        .sort-text {
            font-size: 10px;
            color: #0096ff;
        }
    }
    .sort-icon {
        color: #919191;
        font-size: 28px;
    }
    .sort-text {
        font-size: 10px;
        color: #919191;
    }
}
.sort-block {
    width: 100%;
    height: 7vh;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .nocard-text {
        margin-top: 7.6rem;
        color: $hoverText;
    }
}
.main-item {
    width: 100%;
    max-width: 420px;
    height: 120px;
    border: 1px dashed #919191; 
    background: #f8f8ff99; 
    color: #353535;
}

.buttons{
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    z-index: 999;
}
.camera-button {
    position: relative;
    width: 96px;
    height: 96px;
    background: linear-gradient(-135deg, $primaryColor, #d14f23);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    box-shadow: 2px 2px 4px #191919;
    z-index: 1;

}
.camera-button:hover {
    cursor: pointer;
    color: #616161;
}
.scan-qr{
    position: absolute;
    left: -70px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    background: linear-gradient(-135deg, #ffd03a, #f96636);
    border-radius: 999px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 42px;
    box-shadow: 2px 2px 4px #191919;

}
.scan-qr:hover {
    cursor: pointer;
    color: #616161;
}
.add-card-button{
    position:absolute;
    right: -70px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    background: linear-gradient(-135deg, #ffd03a, #f96636);
    border-radius: 999px;

    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 42px;
    box-shadow: 2px 2px 4px #191919;

}

.add-card-button:hover {
    cursor: pointer;
    color: #616161;
}