@import './Variables.module.scss'; 

.logo-container {
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-main {
    font-size: calc(30px + 2vmin);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    font-size: calc(6px + 2vmin);
    font-style: italic;
}
.login-container {
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-btn, .login-btn {
    margin: 8px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
}
.signup-btn {
    background-color: $primaryColor;
}
.login-btn {
    background-color: $secondaryColor;
}
.signup-btn:hover {
    cursor: pointer;
    color: $hoverText;
}
.login-btn:hover {
    cursor: pointer;
    color: $hoverText;
}