@import './Variables.module.scss';

.login-body {
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
} 
.form-group {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    font-size: 18px;
    color: $textColor;
    margin: 12px 0;
}

.form-group-error {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    font-size: 18px;
    color: $textColor;
    margin-top: 12px;
}

::placeholder {
    color: $secondaryColor;
}
.error-text {
    font-size: 12px;
    color: $errorText;
    width: 100%;
    text-align: start;
}
.submit-btn {
    margin: 24px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
    background-color: $primaryColor;
}
.submit-btn:hover {
    cursor: pointer;
    color: $hoverText;
}