@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: #282c34;
    position: fixed;
    top: 0;
    left: 0;
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .vscGear {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .vscGear:hover {
        cursor: pointer;
    }
}
.page-header-block {
    height: 8vh;
    width: 100%;
}
.message-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .nomsg-text {
        margin-top: 7.6rem;
        color: $hoverText;
    }
}
.message-card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #91919150;
    background: #282c3499;
    width: 100%;
    max-width: 420px;
    height: 120px;
}
.alert-box {
    flex: 1; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .alert-icon-container {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .alert-icon {
            width: 12px;
            height: 12px;
            border-radius: 99px;
            background: $primaryColor;
            display: block;
        }
        .alert-icon-hidden {
            width: 12px;
            height: 12px;
            border-radius: 99px;
            display: none;
        }
    }
    .checkbox-container {
        flex: 1.3;
        width: 100%;
        display: flex;
        justify-content: center;
        .checkbox {
            display: block;
        }
        .checkbox-hidden {
            display: none;
        }
    }
}
.message-body {
    flex: 10; 
    height: 100%; 
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.8rem 1rem 0;
    text-align: start;
    .message-title {
        font-weight: bolder;
        font-size: 18px;
        flex: 1; 
    }
    .content {
        flex: 3; 
        font-size: 13px;
    }
    .message-time {
        font-size: 11px;
        color: #888888;
        flex: 1; 
    }

}