@import './Variables.module.scss'; 

.navbar-container {
    z-index: 10;
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #363636, #121212);
    a {
        color: inherit;
    }
}
.menu-icon {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .faBars {
        font-size: 28px; 
    }
}
.menu-icon:hover{
    cursor: pointer;
}
.search-bar-icon {
    flex: 7; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar {
    width: 92%;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 99px;
    padding: 0 12px;
    font-size: 18px;
    color: $textColor; 
    background: #91919190;
}
::placeholder {
    color: $hoverText;
}
.msg-icon {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .faEnvelope {
        font-size: 28px;
    }
    .alert-icon {
        width: 14px;
        height: 14px;
        border-radius: 36px;
        background: #de1738;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 22%;
        right: 2%;
        display: block;
    }
    .alert-icon-hidden {
        width: 12px;
        height: 12px;
        border-radius: 36px;
        background: #de1738;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 22%;
        right: 2%;
        display: none;
    }

}
.profile-icon {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .faCog {
        font-size: 28px;
    }
}

.navbar-block {
    height: 3.2rem;
    width: 100%;
}