@import './Variables.module.scss'; 

.swiper-container {
    display: flex;
    justify-content: center;
}
.card-container {
    width: 336px;
    height: 204px;
    border-radius: 12px;
    margin: 0 0.8rem 1.2rem 0.8rem;
    background-image: url('assets/card_sample_c3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px #353535;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .qrcode{
        position:absolute;
        bottom:12%;
        right:8%;
        font-size:36px;
        z-index:100;
    }
    .card-body {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 80%;
        width: 82%;
        .company-name {
            color: #f8f8ff; 
            font-weight: bolder;
            font-size: 21px;
            flex: 0.8;
        }
        .job-position {
            color: #585858;
            font-size: 15px;
            flex: 0.8;
        }
        .address {
            font-size: 14px;
            color: #f8f8ff;
            font-weight: bolder;
            flex: 1.2;
        }
        .workContact {
            font-size: 12px;
            font-weight: bolder;
            color: #585858;
            display: flex;
            align-items: center;
            flex: 0.4;
            .fiPhone {
                color: $primaryColor;
                margin-right: 0.4rem;
            }
        }
        .email {
            font-size: 12px;
            font-weight: bolder;
            color: #585858;
            display: flex;
            align-items: center;
            flex: 0.4;
            .hiOutlineMail {
                color: $primaryColor;
                margin-right: 0.4rem;
            }
        }
    }
}
.card-container:hover {
    cursor: pointer;
}

