@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .vscGear {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vscGear:hover {
        cursor: pointer;
    }
}
.profile-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .profile-img-container {
    width: 36vw;
    height: 36vw;
    max-width: 320px;
    max-height: 320px;
    border: 4px solid #e1e1e150;
    border-radius: 999px;
    margin-bottom: 0.8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 999px;
        }
    }
    .profile-name {
        font-size: 18px;
        font-weight: bolder;
        color: $primaryColor;
    }

}
.info-container {
    height: 62vh;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    text-align: center;
    background-color: #f8f8f8;
}
.info-title {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
        margin: 0.8rem;
        color: #919191;
    }
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36vh;
    .nocard-text {
        color: #353535;
    }
}
.create-btn-container {
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-btn {
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    background-color: $primaryColor;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 8px #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    .create-icon {
        margin-right: 0.8rem;
    }
    .btn-text {
        line-height: 18px;
    }
}
.create-btn:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
}


@media only screen and (min-width: 569px){

    .profile-container {
   
        .profile-img-container {
            height: 36vh;
            width: 36vh;
            max-width: 90px;
            max-height: 90px;
        }
    }
    .cards-container {
        height: 100%;
    }
    .profile-container{
        height: 100%;
    }
    .info-container {
        height: 100%;
    }
}