.qrcode-overlay{
    display:block;
    justify-content: center;
    align-items: center;
    position:absolute;
    height:100vh;
    width:100%;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.9);
    z-index:100;
}

.icon {
    width: 10vw;
    height: 10vh;
    color: #353535;
    .IoClose { 
        font-size: 50px; 
    }
}
.icon:hover{
    cursor: pointer;
}