@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .ioClose {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
}
.profile-container {
    height: 24vh;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}
.reset-password-body {
    display: flex;
    justify-content: center;
    min-height: 66vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
}
.form-group {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    font-size: 18px;
    color: $textColor;
    margin: 12px 0;
}
.form-group-error {
    background: none;
    width: 100%;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    font-size: 18px;
    color: $textColor;
    margin-top: 12px;
}

::placeholder {
    color: $secondaryColor;
}

.error-text {
    font-size: 12px;
    color: $errorText;
    width: 100%;
    text-align: start;
}
.submit-btn {
    margin: 24px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
    background-color: $primaryColor;
}
.submit-btn:hover {
    cursor: pointer;
    color: $hoverText;
}