@import './Variables.module.scss'; 

.card-container {
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    width: 72vw;
    height: 42vw;
    max-width: 640px;
    max-height: 368px; 
    min-width: 320px;
    min-height: 184px;
    border: 1px dashed $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}