@import './Variables.module.scss'; 

.search-bar-icon {
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    position: fixed;
    top: 15vh;
    left: 0;
}
.search-bar {
    width: 90%;
    height: 36px;
    outline: none;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 99px;
    padding: 0 12px;
    font-size: 15px;
    color: #353535; 
    background: none;
    ::placeholder {
        color: #e0e0e0;
    }
}
.search-bar-block {
    width: 100%;
    height: 7vh;
}

@media only screen and (min-width: 569px){

    .search-bar-icon{
        
    height: 9vh;
    }
    .search-bar-block {
        width: 100%;
        height: 9vh;
    }
    
}