@import './Variables.module.scss'; 

.page-header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    .ioiosArrowBack {
        flex: 0.16;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    h4 {
        margin: 0;
        flex: 1; 
    }
    .ioClose {
        flex: 0.16; 
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ioClose:hover {
        cursor: pointer;
    }
    a {
        text-decoration: none;
    }
}
.myNav {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 500ms;
    z-index: 2;
}
.myNavCls {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 500ms;
    z-index: 2;
}
.myNavList {
    position: relative;
    text-align: start;
    margin-top: 30px;
    background-color: #282e34;
}
.navLink {
    padding: 18px 9px; 
    font-size: 16px;
    color: #f8f8ff;
    display: flex;
    align-items: center;
    transition: 300ms;
    text-decoration: none;
    border-top: 1px solid #35353599;
    border-bottom: 1px solid #35353599;
    .navLink-icon {
        flex: 0.12;
    }
    .navLink-text {
        flex: 0.8; 
    }
}
.logout-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logout-btn {
    margin: 24px 0;
    outline: none;
    border: none;
    border-radius: 96px;
    width: 320px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 2px 10px #353535;
    background-color: $primaryColor;
}

