.swiper-button-next, .swiper-button-prev {
    width: 36px;
    height: 36px;
    /* border: 1px dashed #ffffff; */
    border-radius: 99px;
    background: #f8f8ff;
    color: #353535;
    box-shadow: 2px 2px 6px #353535;
}
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 18px;
    font-weight: bolder;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}
.swiper-pagination-bullet {
    background-color: #e1ad01;
    bottom: 0;
}