@import './Variables.module.scss'; 

.navbar-container {
    z-index: 10;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #283e4e, #18252f);
    a {
        color: inherit;
    }
}
.menu-icon {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .faBars {
        font-size: 28px; 
    }
}
.menu-icon:hover{
    cursor: pointer;
}
.profile-icon {
    flex: 6; 
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .profile-img-container {
        flex: 0.8;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-img {
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            border-radius: 99px;
            box-shadow: 1px 1px 4px #353535;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 99px;
            }
        }
    }
    .profile-info-container {
        height: 100%;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .profile-name {
            font-weight: bolder;
            font-size: 15px;
        }
        .profile-email {
            font-size: 10px;
            color: #999999;
        }
    }
}
.msg-icon {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .faEnvelope {
        font-size: 28px;
    }
    .alert-icon {
        width: 14px;
        height: 14px;
        border-radius: 36px;
        background: #de1738;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 24%;
        right: 10%;
        display: block;
    }
    .alert-icon-hidden {
        width: 12px;
        height: 12px;
        border-radius: 36px;
        background: #de1738;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 22%;
        right: 2%;
        display: none;
    }
}
.navbar-block {
    height: 8vh;
    width: 100%;
}